/*---------------------------
        GENERAL
---------------------------*/
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*---------------------------
        HEADER
---------------------------*/
header
{
    background-color: #add8e6;
    padding: 10px 0;
    
}
.header-box
{   
    display: flex;
    justify-content: space-around;
    width: 1180px;
    height: 50px;
    margin: 0 auto;
    line-height: 50px;

}
.logo
{
    width: 25%;
    background-color: orange;
    border: 3px dashed black;
    padding-left: 5px;
}
.link
{    
    width: 50%;
    background-color: orange;
    border: 3px dashed black;
    line-height: 50px;

}
.login
{
    width: 25%;
    background-color: orange;
    border: 3px dashed black;
    line-height: 50px;
}
/*---------------------------
        HERO
---------------------------*/
.hero
{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
    background-color: darkblue; 
}
.hero-box
{
    width: 1180px;
    height: 300px;
    background-color: palevioletred;
    border: 3px dashed black;

}
/*---------------------------
        FIRST WHITE BG
---------------------------*/
.first-white
{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1180px;
    height: 500px;
    background-color: white; 
    margin: 0 auto;
}
.first-white-box
{
    width: 60%;
    height: 300px;
    background-color: cyan;
    border: 3px dashed black;
}
.other-white-box
{
    width: 40%;
    height: 300px;
    background-color: palevioletred;
    border: 3px dashed black;
}
/*---------------------------
        FIRST GREY BG
---------------------------*/
.second-grey
{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1180px;
    height: 500px;
    background-color: grey;
    margin: 0 auto;
}
.first-grey-box
{
    width: 40%;
    height: 300px;
    background-color: palevioletred;
    border: 3px dashed black;
}
.other-grey-box
{
    width: 60%;
    height: 300px;
    background-color: cyan;
    border: 3px dashed black;
}
/*---------------------------
        SECOND WHITE BG
---------------------------*/
.third-white
{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1180px;
    height: 500px;
    background-color: white; 
    margin: 0 auto;
}
.third-white-box
{
    width: 60%;
    height: 300px;
    background-color: cyan;
    border: 3px dashed black;
}
.another-white-box
{
    width: 40%;
    height: 300px;
    background-color: palevioletred;
    border: 3px dashed black;
}
/*---------------------------
        BIG GREEN
---------------------------*/
.forth-grey
{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 1000px;
    background-color: grey; 
    margin: 0 auto;
}
.green-box
{
    width: 1180px;
    height: 600px;
    background-color: green;
    border: 3px dashed black;
}